<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Producer Registration</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'><link rel="stylesheet" href="/static/css/style.css">

  <style>
    body {
      background-image: url("https://wallpaperaccess.com/full/1092758.jpg");
    }
  </style>
</head>
<body>
<!-- partial:index.partial.html -->
<p class="tip"></p>
<div class="cont">
  <div class="form sign-in">
    <h2>Give us your details - </h2>
    <label>
      <span>Name</span>
      <input type="text" name="name" id="name" />
    </label>
    <label>
      <span>Place</span>
      <input type="text" name="place" id="place" />
    </label>
    <label>
      <span>Kishan ID Number</span>
      <input type="text" name="id_no" id=""/>
    </label>
    <label>
      <span>Aadhar Card Number</span>
      <input type="text" name="aad_no" id="aad_no" />
    </label>
  </div>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2><b>PRODUCER</b></h2>
        <p>To register as producer in the rice supply chain, please provide the necessary details and click on "Proceed"</p>
      </div>
      <div class="img__text m--in">
        <h2>Verification</h2>
        <p>Enter your phone number and email id to recieve OTP and enter it on the next screen to authenticate.</p>
      </div>
      <div class="img__btn">
        <span class="m--up">Proceed</span>
        <span class="m--in">Edit Detials</span>
      </div>
    </div>
    <div class="form sign-up">
      <h2>Enter Phone Number and Email: </h2>
      <label>
        <span>Phone Number</span>
        <input type="text" name="phone_no" id="phone_no" />
      </label>
      <label>
        <span>Email</span>
        <input type="email" name="email_id" id="email_id" />
      </label>
      <button type="button" class="submit" name="verify_btn" id="verify_btn">Verify</button>
    </div>
  </div>
</div>

<!-- partial -->
  <script  src="/static/js/script.js"></script>

</body>
</html>
